body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
  }
  h2 {
    margin : 20px 0 20px 0;
    font-weight: bold;
    font-size: 40px;
  }
  .box {
    float: left;
    width: 5em;
    height: 2em;
    border: solid 1px black;
    box-sizing: border-box;
    margin: 2px;
  }
  .clear {
    clear: both;
  }
  